<% provide(:title, "Все запросы") %>
<h1>Список запросов</h1>

<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Email</th>
      <th>От куда</th>
      <th>Куда</th>
      <th>Дата</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.name %></td>
        <td><%= order.email %></td>
        <td><%= order.from %></td>
        <td><%= order.to %></td>
        <td><%= order.date %></td>     
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

