<% provide(:title, "Все запросы") %>
<h1>Список <%= link_to "всех", orders_path %> запросов</h1>
<h2>Показать <%= link_to "невыполненные", not_do_orders_path(@order) %> запросы</h2>
<table>
  <thead>
    <tr>
      <th>Имя</th>
      <th>Email</th>
      <th>От куда</th>
      <th>Куда</th>
      <th>Дата отправления</th>
      <th>Дата запроса</th>
      <th>Выполнен?</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.name %></td>
        <td><%= order.user.email %></td>
        <td><%= order.from %></td>
        <td><%= order.to %></td>
        <td><%= order.date %></td> 
        <td><%= order.created_at %></td> 
        <td><%= order.status %> | <%= link_to "+", status_order_path(order) %></td> 
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

